*{
  padding: 0;
  margin: 0;
  font-family: 'Amatic SC', cursive;
}

header{
  position: fixed;
  background: rgba(198, 181, 205, 0.8);
  padding: 2%;
  width: 100%;
  font-size: 2em;
  font-weight: 400;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  width: 70%;
}

li>a{
  text-decoration: none;
  color: white;
  padding: 2%;
}

li>a:hover{
  color: purple;
}

li>img{
  width: 20%;
}

nav>li:last-child{
  display: none;
}

.fondoImg{
  width: 100%;
  height: 700px;
  background-image: url(../assets/img/inicio.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fondoImg>h1{
  text-align: center;
  color: purple;
  font-family: 'Dawning of a New Day', cursive;
  font-size: 5em;
}

.fondoImg>p{
  text-align: center;
  color: purple;
  font-size: 2em;
}
.fa-heart-o{
  text-align: center;
  color: purple;
  margin: 1%;
}
.producto{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.producto>h1, .video>h1, .formulario>h1{
  text-align: center;
  font-size: 2.5em;
  color: #8CB60A;
  padding: 2%;
}

.producto i, .formulario i{
  color: #B3E10A;
  font-size: .5em;
  vertical-align: middle;
  padding: 0 1%;
}

.contenedor-col{
  width: 100%;
  display: flex;
  flex-direction:column;
}

.texto-img{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2%;
}

.texto-img img{
  width: 40%;
  height: 35%;
  border-radius: 50%;
}

.texto-img p{
  width: 40%;
  height: 35%;
  font-family: sans-serif;
  text-align: justify;
  color: #454047;
  line-height: 1.5em;
}

.video{
  background: #C2EDEF;
  padding: 10%;
}
.video h1{
  color: #2BC5CC;
  padding-bottom: 5%;
}

.video div{
  display: flex;
  justify-content: center;
}
.formulario section{
  display: flex;
  justify-content: center;
  padding: 3%;
}
.contenedorForm{
  display: flex;
  flex-direction: column;
  width: 45%;
}
input, textarea{
  padding: 2%;
  margin: 2%;
}
.contenedorForm button{
  align-self: center;
  border-radius: 50%;
  border: 0px;
  width: 15%;
  height: 25%;
  background: #23C2C9;
  color: white;
  font-size: 1.5em;
}
.contenedorForm button:hover{
  background: #953993;
}
footer{
  text-align: center;
  padding:2%;
  background:#D5F476;
  color: #96C30C;
  font-size: 2em;
}
.contenedorFooter{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contenedorFooter>li{
  list-style: none;
  padding: 1.5% 3%;
}
.contenedorFooter>li:hover{
  color: white;
}
